@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,300;1,400&display=swap");
@import "vars";
@import "mixins";
@import "global";
@import "layouts/navigation";
@import "layouts/slogan";
@import "layouts/konsultacije";
@import "layouts/galerija";
@import "layouts/izdvajamo";
@import "layouts/oNama";




footer {
    background: rgb(26, 23, 23);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: clamp(0.7rem, 1.3vw, 2.5rem);
    font-weight: 900;
    color: gray;

    p {
        margin: 25px 80px;

    }

    a{
        padding: 1vh 1vw;
        align-self: center;
        color: #fff;

        &:hover{
            background-color: white;
            padding: 1vh 1vw;
            color: black;
            transition: 0.1s ease-in;
        }
    }
}
