nav {
    background: rgb(40, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        // background-color: red;
        padding: 2vh 0;
        width: 20%;
        text-align: center;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 100%;
        padding: 0 50px;
        align-items: center;
        @include eXSmall {
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background: rgb(40, 34, 34);
            width: 100%;
            text-align: center;
            transition: 0.3s;
            z-index: 1000;

            &.active{
                left: 0;
            }
        }

        .nav-link {
            padding: 0 40px;
            font-size: clamp(1em, 1.4vw, 3rem);
            @include eXSmall {
                margin: 16px 0;
            }

            a {
                color: white;

                &:hover {
                    color: #e0d311;
                }
            }
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 0 20px;
    @include eXSmall {
        display: block;

        &.active .bar:nth-child(2) {
            opacity: 0;
        }
        &.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}
